.watermark {
    position: fixed;
    color: lightgray;
    /* opacity: 0.25; */
    /* font-size: 3em; */
    width: 100%;
    top: 29%;
    padding-top: 50px;
    margin-top: 20px;    
    text-align: center;
    z-index: 0;
    opacity: 0.2;
  transform: rotate(-46deg);
  font-size: 100px;
  font-weight: 500px;
  justify-content: center;
  align-content: center;
  display: grid;
}

